/**
* base.scss
*/

@import "_fonts.scss";

// Default
$background: rgb(255,255,255);
$background-nature: rgb(241,236,225);
$text: rgb(0,0,0);
// Products
$zuckermais-chili: rgba(249, 225, 3, 1); // Zuckermais-Chili
$kuerbis-zitronengras: rgba(242, 86, 29, 1); // Kürbis-Zitronengras
$paprika-tomate: rgba(228, 32, 34, 1); // Paprika-Tomate
$rotebete-basilikum: rgba(140, 3, 67, 1); // Rote-Bete-Basilikum
$suesskartoffel-ingwer: rgba(176, 44, 141, 1); // Süßkartoffel-Ingwer


// Basic
*:focus {
  box-shadow: 0;
  outline: 2px solid $text;
  z-index: 99;
  position: relative;
}
* {
  box-sizing: border-box;
}
html {
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%;
  background-color: $background-nature;
  color: $text;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
body {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background-color: $text;
  color: $background-nature;
  text-transform: uppercase;
  .row {
    display: flex;
    vertical-align: middle;
    align-items: center;
  }
  &__item {
    padding: .5rem;
  }
  .brand {
    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
    img {
      height: 2em;
      line-height: 0;
      margin: 0 .2em;
    }
  }
  a {
    color: $background-nature;
  }
  details {
    display: inline-block;
    & > nav {
      position: absolute;
      background-color: $text;
    }
  }
}

h1 {
  font-weight: 900;
}
h1, h2, h3, strong {
  text-transform: uppercase;
  font-family: "Dystopian";
}
main {
  padding: 1rem;
}
footer {
  padding: 1rem;
}
hr {
  border: none;
  height: .5rem;
  border-radius: .25rem;
}
nav {
  list-style: none;
  a {
    display: block;
    margin: 1rem;
    i {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: .5rem;
      border-radius: 50rem;
    }
  }
}
.product {
  &--background-nature {
    i, hr, figure {
      background-color: $background-nature;
    }
  }
  &--zuckermais-chili {
    i, hr, figure {
      background-color: $zuckermais-chili;
    }
  }
  &--kuerbis-zitronengras {
    i, hr, figure {
      background-color: $kuerbis-zitronengras;
    }
  }
  &--paprika-tomate {
    i, hr, figure {
      background-color: $paprika-tomate;
    }
  }
  &--rotebete-basilikum {
    i, hr, figure {
      background-color: $rotebete-basilikum;
    }
  }
  &--suesskartoffel-ingwer {
    i, hr, figure {
      background-color: $suesskartoffel-ingwer;
    }
  }
}
.bg {
  &--zuckermais-chili {
    background-color: $zuckermais-chili;
  }
  &--kuerbis-zitronengras {
    background-color: $kuerbis-zitronengras;
  }
  &--paprika-tomate {
    background-color: $paprika-tomate;
  }
  &--rotebete-basilikum {
    background-color: $rotebete-basilikum;
  }
  &--suesskartoffel-ingwer {
    background-color: $suesskartoffel-ingwer;
  }
}

// components
.slider {
  outline: 1px solid $text;
  position: relative;
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption {
    background: $background;
    display: inline-block;
  }
  &__content {
    display: block;
    white-space: nowrap;
    overflow: auto;
  }
  &__controls {
    a {
      padding: 1rem;
      border-radius: 50rem;
      line-height: .5rem;
      position: absolute;
      top: 50%;
      background: #FFF;
    }
    a[rel="next"] {
      right: 0;
    }
    a[rel="prev"] {
      left: 0;
    }
  }
  .slide {
    display: inline-block;
    width: 100%;
    height: 240px;
  }

}
.heroteaser {
  background-color: $text;
  text-transform: uppercase;
  .container {
    display: flex;
    a {
      color: $text;
      height: 240px;
      overflow: hidden;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      text-align: center;
    }
    figure {
      margin: 0;
      padding: 1rem;
    }
  }
}

// Layout
.container {
  margin: auto;
  max-width: 1200px;
}
