/**
* base.scss
*/

@font-face {
  font-family: "Dystopian";
  src: url("/_assets/fonts/Dystopian-Light.woff2") format("woff2"), url("/_assets/fonts/Dystopian-Light.woff") format("woff");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Dystopian";
  src: url("/_assets/fonts/Dystopian-Regular.woff2") format("woff2"), url("/_assets/fonts/Dystopian-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dystopian";
  src: url("/_assets/fonts/Dystopian-Bold.woff2") format("woff2"), url("/_assets/fonts/Dystopian-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Dystopian";
  src: url("/_assets/fonts/Dystopian-Black.woff2") format("woff2"), url("/_assets/fonts/Dystopian-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

$schwarz: rgb(0,0,0);
$tiefschwarz: rgb(14,14,16); // Tiefschwarz
$weisz: rgb(241,236,225); // Reinweiß
$zuckermais-chili: rgb(249,154,28); // Zuckermais-Chili
$kuerbis-zitronengras: rgb(237,107,33); // Kürbis-Zitronengras
$paprika-tomate: rgb(255,42,27); // Paprika-Tomate
$rotebete-basilikum: rgb(107,28,35); // Rote-Bete-Basilikum
$suesskartoffel-ingwer: rgb(71,36,60); // Süßkartoffel-Ingwer

// Basic
*:focus {
  box-shadow: 0 4px 8px 0;
  outline: 2px solid currentColor;
  z-index: 99;
  position: relative;
}
* {
  box-sizing: border-box;
}
html {
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%;
  background-color: $schwarz;
  color: $weisz;
}
a {
  color: $weisz;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
body {
  padding: 0;
  margin: 0;
}
header {
  padding: 1rem;
}
h1 {
  font-weight: 900;
}
h1, h2, h3, strong {
  text-transform: uppercase;
  font-family: "Dystopian";
}
main {
  padding: 1rem;
  background-color: $schwarz;
}
footer {
  padding: 1rem;
}
hr {
  border: none;
  height: .5rem;
  border-radius: .25rem;
}
nav {
  list-style: none;
  a {
    display: block;
    margin: 1rem;
    i {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: .5rem;
      border-radius: 50rem;
    }
  }
}
.bg {
  &--tiefschwarz {
    background-color: $tiefschwarz;
    hr {
      background-color: $tiefschwarz;
    }
  }
  &--zuckermais-chili {
    background-color: $zuckermais-chili;
    hr {
      background-color: $zuckermais-chili;
    }
  }
  &--kuerbis-zitronengras {
    background-color: $kuerbis-zitronengras;
    hr {
      background-color: $kuerbis-zitronengras;
    }
  }
  &--paprika-tomate {
    background-color: $paprika-tomate;
    hr {
      background-color: $paprika-tomate;
    }
  }
  &--rotebete-basilikum {
    background-color: $rotebete-basilikum;
    hr {
      background-color: $rotebete-basilikum;
    }
  }
  &--suesskartoffel-ingwer {
    background-color: $suesskartoffel-ingwer;
    hr {
      background-color: $suesskartoffel-ingwer;
    }
  }
}

// Layout
.container {
  margin: auto;
  max-width: 1200px;
}
