<!doctype html>
<html lang="de" class="bg--{{ key }}">
  <head>
    <title>YOUR ROOT – {{ title }}</title>
    <meta charset="utf-8">
    <meta httpequiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ tags }}">

    <meta property="og:title" content="{{ seo.title }}">
    <meta property="og:description" content="{{ seo.description }}">
    <meta property="og:url" content="{{ seo.url }}">

    <link rel="stylesheet" href="/base.css">
  </head>
  <body>
    {% block header %}
    <header aria-label="meta" class="header">
      <section class="container">
        <div class="row">
          <a href="/index-root/" class="header__item brand">
            YOUR<img src="/_assets/images/YR-Logo-neg.svg" alt="YOUR ROOT LOGO">ROOT
          </a>
          <a href="/philosophie/" class="header__item">
            Mission
          </a>
          <details class="header__item details">
            <summary>Produkte</summary>
            {% include "components/navigation.njk" %}
          </details>
        </div>
      </section>
    </header>
    {% endblock %}
    {% block heroteaser %}
      {% include "components/heroteaser.njk" %}
    {% endblock %}
    <main>
      <article class="container">
        {{ content | safe }}
      </article>
    </main>
    {% block footer %}
    <footer class="container">
      <article class="row">
        &copy; YOUR ROOT FOOD 2020
        <a href="/impressum">Impressum</a>
      </article>
    </footer>
    {% endblock %}
  </body>
</html>
